/* Color palette */
/* header backgroupnd  #fff */
/* Hero background #2F303A */
/* What we do background #E5E5E5 */
/* Out team background #F5F4FA */
/* Footer background #2F303A */

/* Accent color #2196F3 */
/* logo color #000 */
/* Header nav link color #212121 */
/* Header contacts color #757575 */
/* Hero text color #fff */
/* Footer contacts color rgba(255, 255, 255, 0.6) */

:root {
  --main-background-color: #fff;
  --main-text-color: #757575;
  --logo-dark-color: #000;
  --logo-light-color: #fff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --title-inverse-color: #fff;
  --team-section-background-color: #f5f4fa;
  --team-section-social-color: #afb1b8;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgb(255 255 255 / 0.6);

  --team-list-gap: 30px;
  --team-list-items-row-count: 4;
  --social-list-gap: 10px;
  --social-list-row-items-count: 4;
  --customers-list-gap: 30px;
  --customers-list-row-items-count: 6;
  --examples-item-margin: 30px;
}

body {
  margin: 0;

  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ---------------------- Auxiliary styles ---------------------- */

.link {
  text-decoration: none;
}

.list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;

  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* ---------------------- Header styles ---------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
}

/* Logo styles */

.logo {
  color: var(--accent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--logo-dark-color);
}

.logo-light {
  color: var(--logo-light-color);
}

.header-logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* Site navigation styles */

.site-nav {
  margin-left: 93px;
}

.site-nav-list {
  display: flex;
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

/* Header contacts styles */

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.header-contacts-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* ---------------------- Hero styles ---------------------- */

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: var(--footer-background-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-bg-image-squoshed.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--title-inverse-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  padding: 10px 32px;

  color: var(--title-inverse-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;

  cursor: pointer;
}

/* ---------------------- Section styles ---------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-color);
  /* font-weight: 700;  taken from browser <h2> */
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ---------------------- Features section styles ---------------------- */

.features-list {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-item-thumb {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background: #f5f4fa;
  border-radius: 4px;
}

.features-item-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-color);
  /* font-weight: 700;  taken from browser <h3> */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-description {
  margin-top: 0;
  margin-bottom: 0;

  /* font-weight: 400; taken from browser <p> */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* ---------------------- What we do section styles ---------------------- */

.what-we-do-section {
  padding-top: 0;
}

.what-we-do-list {
  display: flex;
}

.what-we-do-list-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-list-item {
  position: relative;
}

.what-we-do-item-overlay {
  width: 100%;
  padding: 27px;

  position: absolute;
  bottom: 0;

  background: rgba(47, 48, 58, 0.8);
}

.what-we-do-item-title {
  margin-top: 0;
  margin-bottom: 0;

  /* font-weight: 700; taken from browser <h3> */
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-inverse-color);
}

/* ---------------------- Team section styles ---------------------- */

.team-section {
  background-color: var(--team-section-background-color);
}

.team-list {
  display: flex;
  gap: var(--team-list-gap);
}

.team-list-item {
  flex-basis: calc(
    (100% - (var(--team-list-items-row-count) - 1) * var(--team-list-gap)) /
      var(--team-list-items-row-count)
  );

  background-color: var(--main-background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item-footer {
  padding: 30px 32px;
}

.team-item-title {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-text {
  margin-top: 0;
  margin-bottom: 16px;

  /* font-weight: 400; taken from browser <p> */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-social-list {
  display: flex;
  gap: var(--social-list-gap);
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--team-section-social-color);

  border-radius: 50%;
}

.team-social-link:hover,
.team-social-link:focus {
  color: var(--title-inverse-color);
  background-color: var(--accent-color);
}

.team-social-item-icon {
  display: block;
  fill: currentColor;
}

/* ---------------------- Customers section styles ---------------------- */

.customers-list {
  display: flex;
  gap: var(--customers-list-gap);
}

.customers-item {
  width: 170px;
  height: 92px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--team-section-social-color);

  border: 1px solid var(--team-section-social-color);
  border-radius: 4px;
}

.customers-link:hover,
.customers-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.customers-item-icon {
  display: block;
  fill: currentColor;
}

/* ---------------------- Footer styles ---------------------- */

.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-background-color);
}

.footer-wrap {
  display: flex;
  gap: 70px;
  align-items: baseline;
}

/* ---------- Footer address ---------- */

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-address {
  font-style: normal;
  /* font-weight: 400; taken from browser <a> */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address-link {
  color: var(--footer-contacts-color);
}

.footer-address-link.physical-address {
  color: var(--title-inverse-color);
}

/* To override .footer-address-link.physical-address
this rule must be lower */
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

/* ---------- Footer invitation ---------- */

.footer-invitation-title {
  margin-top: 0;
  margin-bottom: 20px;

  color: var(--title-inverse-color);
  /* font-weight: 700;  taken from browser <h2> */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-invitation-social-list {
  display: flex;
  gap: var(--social-list-gap);
}

.footer-invitation-social-item {
  width: 44px;
  height: 44px;
}

.footer-invitation-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  color: var(--title-inverse-color);

  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-invitation-social-link:hover,
.footer-invitation-social-link:focus {
  color: var(--title-inverse-color);
  background-color: var(--accent-color);
}

.footer-invitation-social-item-icon {
  display: block;
  fill: currentColor;
}

/* ---------------------- Portfolio page styles ---------------------- */
/* ---------------------- Portfolio section styles ---------------------- */

/* Filter styles */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-item-button {
  padding: 6px 22px;

  color: var(--title-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  background-color: var(--team-section-background-color);
  border-color: transparent;
  border-radius: 4px;

  cursor: pointer;
}

.filter-item-button:hover,
.filter-item-button:focus,
.filter-item-button.current {
  color: var(--title-inverse-color);

  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Examples styles */

.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--examples-item-margin));
  margin-top: calc(-1 * var(--examples-item-margin));
}

.examples-item {
  margin-left: var(--examples-item-margin);
  margin-top: var(--examples-item-margin);
  flex-basis: calc(100% / 3 - var(--examples-item-margin));
}

.examples-item-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item-thumb {
  position: relative;

  overflow: hidden;
}

.examples-item-overlay {
  position: absolute;
  top: 0;
  left: 0;

  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.examples-item-link:hover .examples-item-overlay,
.examples-item-link:focus .examples-item-overlay {
  transform: translatey(0);
}

.examples-item-overlay-text {
  margin: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--title-inverse-color);
}

.examples-item-link:hover,
.examples-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.examples-item-footer {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
}

.examples-item-title {
  margin-top: 0;
  margin-bottom: 4px;

  color: var(--title-color);
  /* font-weight: 700; taken from browser <h2> */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-item-category {
  margin-top: 0;
  margin-bottom: 0;

  /* font-weight: 400; taken from browser <p> */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
