/* Color palette */
/* header backgroupnd  #fff */
/* Hero background #2F303A */
/* What we do background #E5E5E5 */
/* Out team background #F5F4FA */
/* Footer background #2F303A */

/* Accent color #2196F3 */
/* logo color #000 */
/* Header nav link color #212121 */
/* Header contacts color #757575 */
/* Hero text color #fff */
/* Footer contacts color rgba(255, 255, 255, 0.6) */

:root {
  --main-background-color: #fff;
  --main-text-color: #757575;
  --logo-dark-color: #000;
  --logo-light-color: #fff;
  --accent-color: #2196f3;
  --title-color: #212121;
  --title-inverse-color: #fff;
  --team-section-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --footer-contacts-color: rgb(255 255 255 / 0.6);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-background-color);
}

/* Auxiliary styles */

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* Header styles */

.logo {
  color: var(--accent-color);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-dark {
  color: var(--logo-dark-color);
}

.logo-light {
  color: var(--logo-light-color);
}

.site-nav-link {
  color: var(--title-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav-link.current {
  color: var(--accent-color);
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.contacts-link {
  color: var(--main-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

/* Hero styles */

.hero {
  background-color: var(--footer-background-color);
}

.hero-title {
  color: var(--title-inverse-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  color: var(--title-inverse-color);
  background-color: var(--accent-color);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  cursor: pointer;
}

/* Section styles */

.section-title {
  color: var(--title-color);
  /* font-weight: 700;  taken from browser <h2> */
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Features section styles */

/* Hide the features section title */
.features-section-title {
  display: none;
}

.features-item-title {
  color: var(--title-color);
  /* font-weight: 700;  taken from browser <h3> */
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-item-description {
  /* font-weight: 400; taken from browser <p> */
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* What we do section styles */

.what-we-do-section {
}

/* Team section styles */

.team-section {
  background-color: var(--team-section-background-color);
}

.team-item-title {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-item-text {
  /* font-weight: 400; taken from browser <p> */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer styles */

.footer-section {
  background-color: var(--footer-background-color);
}

.footer-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-address-link {
  color: var(--footer-contacts-color);
}

.footer-address-link.physical-address {
  color: var(--title-inverse-color);
}

/* Portfolio page styles */
/* Portfolio section styles */

/* Hide the portfolio section title */
.portfolio-section-title {
  display: none;
}

/* Filter styles */

.filter-item-button {
  color: var(--title-color);
  background-color: var(--team-section-background-color);

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-item-button:hover,
.filter-item-button:focus {
  color: var(--title-inverse-color);
  background-color: var(--accent-color);
}

.filter-item-button.current {
  color: var(--title-inverse-color);
  background-color: var(--accent-color);
}

/* Examples styles */

.examples-item-title {
  color: var(--title-color);
  /* font-weight: 700; taken from browser <h2> */
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-item-category {
  /* font-weight: 400; taken from browser <p> */
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
