/* Color palette */
/* header backgroupnd  #fff */
/* Hero background #2F303A */
/* What we do background #E5E5E5 */
/* Out team background #F5F4FA */
/* Footer background #2F303A */

/* Accent color #2196F3 */
/* logo color #000 */
/* Header nav link color #212121 */
/* Header contacts color #757575 */
/* Hero text color #fff */
/* Footer contacts color rgba(255, 255, 255, 0.6) */

:root {
    --main-background-color: #e5e5e5;
    --main-text-color: #757575;
    --logo-color: #000;
    --accent-color: #2196f3;
    --title-color: #212121;
    --title-inverse-color: #fff;
    --team-section-background-color: #f5f4fa;
    --footer-background-color: #2f303a;
    --footer-contacts-color: rgb(255 255 255 / .6);
}

body {    
    font-family: 'Roboto', sans-serif;
    color: var(--main-text-color);
}

/* Auxiliary styles */

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Header styles */

header {
    background-color: var(--title-inverse-color);
}

.logo {
    color: var(--logo-color);

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo .accent {
    color: var(--accent-color);
}

nav .link {
    color: var(--title-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

nav .current {
    color: var(--accent-color);
}

nav .link:hover,
nav .link:focus {
    color: var(--accent-color);
}

.contacts .link
{
    color: var(--main-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}

/* Hero styles */

.hero {
    background-color: var(--footer-background-color);
}

.hero-title {
    color: var(--title-inverse-color);
}

.button
{
    color: var(--title-inverse-color);
    background-color: var(--accent-color);
}

/* Section styles */

section .title {
    color: var(--title-color);
}

/* Features section styles */

.features-section {
    
}

/* What we do section styles */

.what-we-do-section {
   
}

/* Team section styles */

.team-section {
    background-color: var(--team-section-background-color);
}

/* Footer styles */

footer {
    background-color: var(--footer-background-color);
}

footer .logo {
    color: var(--title-inverse-color)
}

.footer-contacts .link {
    color: var(--footer-contacts-color);
}

.footer-contacts .physical-address {
    color: var(--title-inverse-color)
}
