/* ---------------------- Header styles ---------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  // display: flex;
  // align-items: center;
}

.header__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.menu-container {
  @media screen and (max-width: $tabletScreenWidth - 1px) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    padding: 48px 40px;

    background-color: var(--main-background-color);
    //   hidden by default
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--main-transition-duration) var(--main-transition-timing-function),
      visibility var(--main-transition-duration) var(--main-transition-timing-function);

    &.is-open {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }

  @media screen and (min-width: $tabletScreenWidth) {
    display: flex;
    align-items: center;
  }
}

.menu-container__menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
}

/* Site navigation styles */

.site-nav {
  // margin-left: 93px;
}

.site-nav__list {
  // display: flex;
}

.site-nav__item:not(:last-child) {
  // margin-right: 50px;
}

.site-nav__link {
  display: block;
  // padding-top: 32px;
  // padding-bottom: 32px;

  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-transition-duration) var(--main-transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.site-nav__link--current {
  position: relative;
  color: var(--accent-color);

  &::after {
    content: '';

    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;

    background-color: var(--accent-color);
    border-radius: 2px;
  }
}

/* Header contacts styles */

.header-contacts {
  // display: flex;
  // margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  // margin-right: 50px;
}

.header-contacts__link {
  // display: flex;
  // align-items: center;

  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color var(--main-transition-duration) var(--main-transition-timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
