.container {
  width: auto;
  max-width: $mobileScreenWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: $tabletScreenWidth) {
    width: $tabletScreenWidth;
    max-width: none;
  }

  @media screen and (min-width: $desktopScreenWidth) {
    width: 1200px;
    max-width: none;
  }
}
