.container {
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (min-width: $mobileScreenWidth) {
    width: $mobileScreenWidth;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: $tabletScreenWidth) {
    width: $tabletScreenWidth;
  }

  @media screen and (min-width: $desktopScreenWidth) {
    width: $desktopScreenWidth;
  }
}
