/* ---------------------- Section styles ---------------------- */

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: $desktopScreenWidth) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &--no-top-padding {
    padding-top: 0;
  }

  &--team-bg {
    background-color: var(--team-section-background-color);
  }

  &--shown-on-desktop-only {
    display: none;

    @media screen and (min-width: $desktopScreenWidth) {
      display: block;
    }
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 30px;

  /* font-weight: 700;  taken from browser <h2> */
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);

  @media screen and (min-width: $desktopScreenWidth) {
    margin-bottom: 50px;

    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}
